/* * MOBILE DEVICE / TAP */

@media screen and (max-width: 576px) {
	.container {
		width: 100%;
	}

	.nav_container__links li {
		display: none;
	}

	.nav_container h2 {
		font-size: 2.6rem;
	}

	.nav_container__btn {
		display: block;
	}

	.banner_container {
		align-items: flex-start;
	}

	.banner {
		padding: 3rem 0;
	}

	.banner_container__content {
		padding: 0;
		text-align: left;
		width: 100%;
	}

	.banner_container__content h1 {
		font-size: 3.6rem;
	}

	.team_container {
		flex-direction: column;
		align-items: flex-start;
		padding: 0 3.2rem;
	}

	.team_container__content {
		width: 100%;
	}
}

/* * LAPTOP / TABLET */

@media screen and (min-width: 576px) and (max-width: 992px) {
	.container {
		width: 100%;
	}

	.nav_container {
		flex-direction: column;
		gap: 2rem;
	}

	.team_container {
		flex-direction: column;
	}

	.team_container__figures {
		grid-template-columns: repeat(4, 1fr);
	}

	.team_container__content {
		width: 100%;
	}
}
