/* * HEADER SECTION */

/* ? HEADER NAVIGATION STYLE */

header {
	background: #ff900e1a;
}

.nav_container {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 3.2rem;
}

.nav_container h2 {
	font-size: 3.6rem;
}

.nav_container ul {
	list-style: none;
	display: flex;
	gap: 4rem;
	font-size: 1.6rem;
	font-weight: 500;
}

/* ? HEADER BANNER STYLE */

.banner {
	padding: 5rem 0;
}

.banner_container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.banner_container__content {
	width: 74%;
	max-width: 86rem;
	text-align: center;
}

.banner_container__content h1 {
	font-size: 5.2rem;
	font-weight: 700;
}

.nav_container__btn {
	display: none;
}

/* * MAIN SECTION */

/* ? MAIN TEAM STYLE */

main section {
	margin: 8rem 0;
}

.team_container {
	display: flex;
	align-items: center;
	gap: 5rem;
	padding: 0 7rem;
}

.team_container__figures {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	gap: 1rem;
}

.team_container__content {
	width: 60%;
	max-width: 54rem;
}

.team_container__content h2 span:nth-child(1) {
	color: #727272;
	font-weight: 500;
}

.team_container__content h2 span:nth-child(2) {
	color: #ff900e;
}

/* ? MAIN FEATURES STYLE */

.features_container {
	display: flex;
	gap: 8rem;
}

.feautures_container__content {
	width: 46%;
	max-width: 60rem;
}

.feautures_container__content p {
	font-size: 1.3rem;
	margin: 2rem 0;
}

.feautures_container__content___lists article {
	box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
	padding: 2rem;
	margin-bottom: 2rem;
	border-radius: 0.5rem;
}

.feautures_container__content___lists article h3 {
	font-size: 1.8rem;
	font-weight: 600;
	margin-bottom: 1rem;
}

.feautures_container__content___lists article p {
	font-size: 1.2rem;
	font-weight: 400;
	margin-bottom: 1rem;
	line-height: 1.5;
}

.feautures_container__display {
	position: relative;
}

.highlight {
	position: absolute;
	left: 0;
	bottom: 0;
	transform: translate(-20%, -10%);
	background-color: #ff900e;
	font-size: 2rem;
	padding: 3rem;
	font-size: 500;
	color: #fff;
	max-width: 30rem;
	text-align: center;
	border-radius: 0.8rem;
}

.highlight span {
	font-size: 5.2rem;
	font-weight: 700;
}

/* ? MAIN FACTS STYLE */

.facts_container__content {
	max-width: 54rem;
}

.facts_container__figures {
	display: flex;
	justify-content: space-around;
	margin: 6rem 0 12rem;
}

.facts_container__figures--card {
	text-align: center;
	border: 1px solid #ff900e;
	padding: 0.8rem;
	padding: 2.6rem 2.4rem;
	display: grid;
	place-items: center;
	border-radius: 0.8rem;
}

.facts_container__figures--card img {
	max-width: 4.5rem;
}

.facts_container__figures--card p:nth-child(2) {
	font-size: 3.6rem;
	font-weight: 600;
	margin: 1rem 0;
}

.facts_container__figures--card p:nth-child(3) {
	font-size: 1.6rem;
	font-weight: 600;
}

/* ?  MAIN SPONSORS SECTION */

.sponsors_container__content {
	margin: 0 auto;
	text-align: center;
	max-width: 50rem;
}

.sponsors_container__figures {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-top: 5rem;
}

.sponsors_container__figures img {
	max-width: 15rem;
}

/* * FOOTER SECTION */

footer .container {
	background: #fff4e7;
	padding: 3rem 4rem;
	text-align: center;
	margin-bottom: 5rem;
}
